<footer class="footer-page ">
    <div class="f-info text-bg-secondary">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>  Copyright &copy; 2024 Claws 
        </div>
        <div class="f-info-links">
            <a href="/privacy">Designed and Developed by KANAK DRISHTI INFOTECH PVT. LTD</a>
            
        </div>
    </div>
</footer>