 
 <center>
<nav class="navbar    sticky-top text-bg-secondary border-bottom sticky-top">
  <div class="container-fluid ">
    <a href="/">
      <img className="logo " src=" "alt="" />
    </a>
     
       
     
    <div class="  navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link h me-5"  href="/">Home</a>
        <a class="nav-link p" href="/listings"> Product </a>
        <!-- <a class="nav-link" href="/listings/new">Add Products</a>
        <a class="nav-link" href="/category">Add Category</a> -->
        
      </div>
    </div>
  </div>
</nav>
</center>