<% layout("/layouts/boilerplate") %>
<body class="home-page">
   
        <center><h1 class="text-warning mt-4 mb-3">ADMIN PANEL</h1></center>
        <div class="home-screen">
            <div class="card mb-3 d-flex text-bg-secondary justify-content-center">
                <div class="card card-pro text-center text-bg-secondary   ">
                    <div class="card-header  ">
                      <ul class="nav nav-warning card-header- ">
                        <li class="nav-item">
                          <a class="nav-link active text-warning" aria-current="true" href="#">Products Details</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body  ">
                      <h5 class="card-title text-warning mt-2">Total Products</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="/listings" class="btn btn-outline-warning mb-3">View Products</a>
                    </div>
                  </div>
                 
            <div class="row  ">
                <div class="col-sm-6 mb-3 mt-5 mb-sm-0">
                  <div class="card border-warning  ">
                    <div class="card-body card-b ">
                      <h5 class="card-title title-h bg-light ps-4 text-success">Successfull Product</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn btn-success">Check Details</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mt-5">
                  <div class="card">
                    <div class="card-body card-b">
                      <h5 class="card-title title-h bg-light ps-4 text-danger">Failed Product</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn btn-danger">Check Details</a>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row  ">
                <div class="col-sm-6 mb-3 mt-5 mb-sm-0  ">
                  <div class="card border-warning  ">
                    <div class="card-body card-b">
                      <h5 class="card-title text-info">  Product Category</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="/showcategory" class="btn btn btn-outline-info">View Category</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mt-5  ">
                  <div class="card border-warning mb-3 mb-sm-0 "  >
                    <div class="card-body card-b ">
                      <h5 class="card-title text-info">Add New Product</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a  href="/listings/new" class="btn  btn-outline-info">Add New Product</a>
                    </div>
                  </div>
                </div>
              </div>
               
              
               
        </div>
    
</body>

